html {
  font-family: 'aktiv-grotesk', sans-serif;
  margin: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'aktiv-grotesk', sans-serif;
}

nav {
  text-align: right;
}

ul {
  text-decoration: none;
}

small {
  display: block;
}

.name {
  text-align: center;
  font-family: 'aktiv-grotesk',sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 30%;
  left: 0;
  color: #fff;
}

.social-media-icons {
  padding-left: 0.5em;
  padding-top: 0.25em
}

.logo {
  margin: auto;
  padding: 2em;
}

.nav-buttons {
  text-align: center;
  padding: 0.25em;
}

.linkedin {
  width: 2em;
}

.behance {
  width: 2em;
}

.instagram {
  width: 2em;
}

footer {
  padding: 1em;
}

.footer-text{
  padding: 0.5em;
  padding-left: 1.25em;
}

.social-media-icons {
  padding-top: 0.75em;
  padding-left: 1.25em;
}

.crop-button {
  display: inline-block;
  width: 100%;
  position: relative;
  padding: 1em;
}

.crop {
  width: 500px;
  height: 100px;
  overflow: hidden;
}

.crop-image {
  width: 800px;
  height: 800px;
  margin: -75px 0 0 -100px;
}

.crop-title {
  color: #fff;
  font-size: 24pt;
  padding-left: .5em;
  font-family: 'Raleway', sans-serif;
  position: absolute;
  bottom: 0%;
}

.crop-button-overlay {
position: absolute;
}

.carousel-items > div {
  display: none;
}

.carousel {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.carousel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carousel-bullet {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.carousel-bullet:hover {
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #428bca;
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
@media only screen and (min-width: 38em) {

  .logo-img {
    width: 50%;
  }

  .nav-buttons {
    text-align: right;
    padding-top: 1.5em;
  }

  .crop {
    width: 200px;
    height: 500px;
    overflow: hidden;
  }

  .crop-image {
    width: 800px;
    height: 800px;
    margin: -75px 0 0 -100px;
  }

  .crop-title {
    transform: rotate(90deg);
    bottom: 15%;
  }

}
@media only screen and (min-width: 60em) {
}
@media only screen and (min-width: 90em) {
}
