html {
  font-family: 'Raleway', sans-serif;
  font-family: 'Playfair Display', serif;
  margin: 0;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
}

nav {
  text-align: right;
}

ul {
  text-decoration: none;
}

.red-stripe {
  display: inline-block;
}

.blue-stripe {
  display: inline-block;
}

.yellow-stripe {
  display: inline-block;
}

.black-stripe {
  display: inline-block;
}

.name {
  text-align: center;
  font-family: 'Raleway',sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 30%;
  left: 0;
  color: #fff;
}

.banner {
  position: relative;
}

.name-1 {
  font-size: 36pt;
}
.name-2 {
  font-size: 36pt;
}

.subtext {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}

.social-media-icons {
  padding-left: 0.5em;
  padding-top: 0.25em
}

.illustration-title {
  position: absolute;
  bottom: 50%;
  color: #fff;
  list-style-type: none;
  padding-left: 1em;
  transform: rotate(90deg);
}

.typography-title {
  position: absolute;
  bottom: 50%;
  list-style-type: none;
  color: #fff;
  padding-left: 1em;
  transform: rotate(90deg);
}

.ux-title {
  position: absolute;
  bottom: 50%;
  list-style-type: none;
  color: #fff;
  padding-left: 1em;
  transform: rotate(90deg);
}

.motion-title {
  position: absolute;
  bottom: 50%;
  list-style-type: none;
  color: #fff;
  padding-left: 1em;
  transform: rotate(90deg);
}

.logo {
  margin: auto;
  padding: 2em;
}

.nav-buttons {
  text-align: center;
  padding: 1em;
}

.contact-me-info {
  padding: 1em;
}


@media only screen and (min-width: 38em) {

  .logo-img {
    width: 50%;
  }

}
@media only screen and (min-width: 60em) {

  .nav-buttons {
    text-align: right;
  }
}
@media only screen and (min-width: 90em) {
}
