html,
body {
  font-family: 'aktiv-grotesk', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  font-family: 'aktiv-grotesk', sans-serif;
}

nav {
  text-align: right;
}

small {
  display: block;
  text-align: left;
}

.body {
  font-size: 11pt;
  font-style: normal;
  font-weight: 200;
}

.logo {
  padding: 1.25em;
}

.nav-buttons {
  text-align: center;
  padding: 1em;
}

.nav-link {
  padding-top: 0em;
}

.nav-link:hover a {
  background: rgba(253, 211, 82, 1);
  color: #fff;
}

footer {
  padding: 1em;
}

.social-media-icons {
  padding-left: 0.5em;
}

.social-media-link {
  width: 2em;
}

.footer-text{
  padding: 0.5em;
  padding-left: 1.25em;
}

.social-media-icons {
  padding-top: 0.75em;
  padding-left: 1.25em;
}

.img-button-title {
  text-align: center;
  font-family: 'aktiv-grotesk',sans-serif;
  font-weight: bold;
  position: absolute;
  bottom: 30%;
  left: 0;
  color: #fff;
  padding: 1em;
}

.img-button {
  padding: 1em;
}

.bg-image {
  height: 300px;
  width: 100%;
  display: block;
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.illustration-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(253, 211, 82, 0.5);
}

.typography-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 180, 203, 0.5);
}

.motion-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(240, 82, 93, 0.5);
}

.ux-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.img-button:hover .illustration-overlay {
  background-color: rgba(253, 211, 82, 1);
}

.img-button:hover .typography-overlay {
  background-color: rgba(0, 180, 203, 1);
}

.img-button:hover .motion-overlay {
  background-color: rgba(240, 82, 93, 1);
}

.img-button:hover .ux-overlay {
  background-color: rgba(0, 0, 0, 1);
}

.bg-illustration {
  background-size: cover;
  background-image: url("../images/illustration-1.jpg");
}

.bg-motion {
  background-image: url("../images/motion-2.jpg");
  background-size: cover;
}

.bg-typography {
  background-image: url("../images/type-2.jpg");
  background-size: cover;
}

.bg-ux {
  background-image: url("../images/ux-1.jpg");
  background-size: cover;
}

.carousel {
    position: relative;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
}

.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

.carousel-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.carousel-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.carousel-control.prev {
    left: 2%;
}

.carousel-control.next {
    right: 2%;
}

.carousel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

form {
  background-color: rgba(240, 82, 93, 100);
}
@media only screen and (min-width: 38em) {

  .logo-img {
    width: 80%;
  }

  .nav-buttons {
    text-align: right;
  }

  .nav-link {
    padding-top: 1em;
  }

}
