<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="../css/modules.css" rel="stylesheet">
  <link href="../css/grids.css" rel="stylesheet">
  <link href="../css/type.css" rel="stylesheet">
  <link href="../css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,500,700" rel="stylesheet">
</head>
<body>

  <header>
    <nav class="grid">
      <div class="logo unit xs-1 s-1 m-1-2 l-1-2">
        <img class="logo-img img-flex" src="../images/wordmark.jpg" alt="#">
      </div>
      <ul class="nav-buttons unit xs-1 s-1 m-1-2 l-1-2 list-group-inline">
        <li class="island-half block text-center"><a href="#">ABOUT</a></li>
        <li class="island-half block text-center"><a href="work.html">WORK</a></li>
        <li class="island-half block text-center"><a href="contact-me.html">CONTACT ME</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {content}
  </main>

  <footer>
    <div class="grid">
      <div class="social-media-icons unit xs-1 s-1 m-1-2 l-1-2">
        <img class="behance" src="../images/behance-icon.jpg" alt="#">
        <img class="linkedin" src="../images/linkedin-icon.jpg" alt="#">
        <img class="instagram" src="../images/instagram-icon.jpg" alt="#">
      </div>
      <div class="unit xs-1 s-1 m-1-2 l-1-2">
        <small>© 2017 KATHERINE VAN DER PLOEG</small>
        <small>all rights reserved</small>
      </div>
    </div>
  </footer>
</body>
</html>
